.mainBody {
    height: 100vh;
    width: 100%;
    background-color: #FFCB05;
}

.mainBodyTop {
    width: 100%;
    display: flex;
    justify-content: center;
}

.mainBodyTop > img {
    height: 200px;
    width: 25%;
}