.EventLayoutBottom {
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    padding: 20px;
    width: calc(100%-20px);
    margin-top: 10px;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.heading {
    font-size: 22px;
    font-weight: 600;
    color: rgb(152, 150, 150);
    margin-left: 51px;
    margin-bottom: 20px;
}
